<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Raphael Arcanjo">
  <meta name="description" content="Listas brasileiras usadas em projetos computacionais">
  <title>BR LISTAS</title>
</head>
<body>
  <h1>BR LISTAS</h1>
  <p>Essa pequena API tem o intuto de oferecer listas muito comumente usadas.</p>
  <p>Todos as respostas para as chamadas via GET são entregues em formato JSON, para maior compatibilidade com a maioria das linguagens.</p>
  <p>Sinta-se a vontade para divulgar e usar essa API como desejar!</p>
  <p><a href='https://github.com/raphaelarcanjo/br_listas'>https://github.com/raphaelarcanjo/br_listas</a></p>
  <p>As opções atuais: </p>
  <p><a href='/estados'>Estados</a></p>
  <p><a href='/estados_select'>Estados para select input</a></p>
  <p><a href='/regioes'>Regiões</a></p>
  <p><a href='/cardeais'>Pontos cardeais</a></p>
  <p><a href='/semana'>Dias da semana</a></p>
</body>
</html>